.gitignore
.ipynb_checkpoints/*
.ipynb_checkpoints/Code-checkpoint.ipynb
.idea
all-crashes-2004-2018.csv*
VEHICLE_V_2018.csv
COMMVEH_V_2018.csv
CYCLE_V_2018.csv
PERSON_V_2018.csv
TRAILVEH__V_2018.csv
CRASH_V_2018.csv
ROADWAY_2018.csv
Statewide_2018.zip
FLAG_V_2018.csv
.ipynb_checkpoints/Code-checkpoint.ipynb
.ipynb_checkpoints/Code-checkpoint.ipynb
